.listado-izquierdo{
    display: none;
}
@media (min-width: 768px) {
    .listado-izquierdo {
        display: block;
    }
}
.listado-derecho{
    padding: 0px 30px;
}

.cabecera-listado__ {

    border-bottom: 1px solid gray;
}

.noticias-destacadas {
    margin-bottom: 50px;
    padding: 10px;
}