.contenido {
    width: 100%;
    padding: 10px;
}

.cabecera__cuerpo p {
    padding: 5px 10px;
}
p {
    padding: 15px;
}


img {
    width: 100%;
    padding: 20px 0px;
}
h2 {
    padding:8px 0px;
}

